@model List<TopRatedMovies>

<h5>CustomIMDb Charts</h5>
<h4>Top Rated Movies</h4>>

@foreach (var movie in Model)
{
    <h6>@movie.Title (@movie.ReleaseDate)  @movie.Ratings.Sum()/@movie.Ratings.Count</h6>
}
