@*@model MovieFormModel*@

@{ ViewBag.Title = "Add Movie"; }

<h1>Hello! Here you can add your movie!</h1>

<partial name="_MovieFormPartial" model="@Model" />

@section scripts 
{
    <partial name="_ValidationScriptsPartial" />
}
