@model MovieFormModel

@{ ViewBag.Title = "Edit Movie"; }

<h3>Here you can edit the movie!</h3>>

<partial name="_MovieFormPartial" model="@Model" />

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}
