@model EpisodeFormModel

@{ ViewBag.Title = "Add tvshow episode"; }

<h1>Hello! Here you can add your tvshow episode!</h1>

<partial name="_EpisodeFormPartial" model="@Model" />

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}
