@model Episode

@{ ViewBag.Title = "Edit TVShow Episode"; }
@{Model.TVShowId = 22; }
@Html.HiddenFor(m => m.TVShowId) 

<h3>Here you can edit the TVShow!</h3>>

<form method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter the TVShow title here">
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PlotSummary"></label>
        <textarea asp-for="PlotSummary" class="form-control" rows="3" placeholder="A high school chemistry teacher diagnosed with..."></textarea>
        <span asp-validation-for="PlotSummary" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Length"></label>
        <input asp-for="Length" class="form-control" placeholder="49min">
    </div>
    <div class="form-group">
        <label asp-for="EpisodeAiredDate"></label>
        <input asp-for="EpisodeAiredDate" class="form-control" placeholder="2008-2013">
    </div>
    <div class="form-group">
        <label asp-for="Storyline"></label>
        <textarea asp-for="Storyline" class="form-control" placeholder="When chemistry teacher Walter White is diagnosed with Stage III cancer and given only two years to live, he decides he has nothing to lose..."></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" placeholder="Enter the url of the tvshow here">
    </div>
    
    <div class="form-group">
    <label asp-for="TVShowId"></label>
    <input asp-for="TVShowId" class="form-control" placeholder="Enter the id of the tvshow here">
    </div>

    <input class="btn btn-primary mt-3" type="submit" value="Edit" />

</form>
