@model TVShowFormModel

@{ ViewBag.Title = "Add TVShow"; }

<h1>Hello! Here you can add your tvshow!</h1>

<partial name="_TVShowFormPartial.cshtml" model=" @Model" />

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}